@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #1E293B;
  --primary: #3B82F6;
  --secondary: #60A5FA;
  --cta: #F97316;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}
